<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ammanz.personalmushaf">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quran"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quran"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name="com.ammanz.personalmushaf.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="com.ammanz.personalmushaf.QuranActivity"
            android:taskAffinity=".main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity
            android:name="com.ammanz.personalmushaf.navigation.NavigationActivity"
            android:taskAffinity=".navigation">
        </activity>
        <activity
            android:name="com.ammanz.personalmushaf.StartupActivity"
            android:taskAffinity=".startup"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ammanz.personalmushaf.mushafselector.MushafTypeActivity"
            android:taskAffinity=".startup"
            android:theme="@style/AppTheme.MushafType">
        </activity>
        <activity
            android:name="com.ammanz.personalmushaf.mushafselector.MushafStyleActivity"
            android:taskAffinity=".startup"
            android:theme="@style/AppTheme.MushafType">
        </activity>
    </application>

</manifest>